<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">
<%- include('../../partials/global/htmlhead.ejs') %>

<body data-new-gr-c-s-check-loaded="14.990.0" data-gr-ext-installed="">
    <!-- <a name="top"></a> -->

    <div class="bodytopbg">
        <div class="mainbody">
            <div class="mainbody2">
                <div id="coolheader" style="background-image: url(&#39;/style/images/right-j.jpg&#39;);"></div>
                <!--<div id="donation" style="width:140px">
                    <a href="https://web.archive.org/web/20120501080429/http://osu.ppy.sh/p/support"><img src="/style/images/paypal.gif"></a>&nbsp;&nbsp;
                    <a href="https://web.archive.org/web/20120501080429/http://osu.ppy.sh/p/twitter"><img src="/style/images/twitter.gif"></a>
                </div>-->
                
                <%- include('../../partials/global/header.ejs') %>

                <div class="content">
                    <%- include('../../partials/global/loginform.ejs') %>

                    <div class="content-with-bg">
                        <h1>Player Rankings for All Locations (osu!)</h1>

                        <div class="paddingboth">The primary ranking is the "Ranked Score". This is calculated based on the highest score achieved from each beatmap set. This means that if you play multiple difficulties of the same beatmap, only the <b>highest</b> score you achieve will be included in your ranked score. To search for a particular username, use the search below.</div>


                        <center>
                        </center>

                        <div id="tablist">
                            <ul>
                                <li><a class="active" href="https://web.archive.org/web/20120501080429/http://osu.ppy.sh/p/playerranking/?m=0">osu! Standard</a></li>
                                <li><a href="https://web.archive.org/web/20120501080429/http://osu.ppy.sh/p/playerranking/?m=1">Taiko</a></li>
                                <li><a href="https://web.archive.org/web/20120501080429/http://osu.ppy.sh/p/playerranking/?m=2">Catch The Beat</a></li>
                            </ul>
                        </div>

                        <div class="pagination">Displaying <%= bottomLimit %> to <%= upperLimit %> of many results.<br>
                            <a href="/p/playerranking?page=<%= currentPage - 1 %>">Prev</a> <b><%= currentPage %></b> <a href="/p/playerranking?page=<%= Number(currentPage) + 1 %>">Next</a>
                        </div>

                        <table class="beatmapListing" cellspacing="0">
                            <tbody>
                                <tr>
                                    <th>Rank</th>
                                    <th>Player Name</th>
                                    <th>Accuracy</th>
                                    <th><a href="/p/playerranking/?m=0&amp;s=1&amp;r=&amp;q=&amp;f=">Play Count</a></th>
                                    <th>Total Score</th>
                                    <th><a href="/p/playerranking/?m=0&amp;s=3&amp;o=0&amp;r=&amp;q=&amp;f=">Ranked Score</a><img src="/style/images/down.gif"></th>
                                    <th><img src="/style/images/X_small.png"><img src="/style/images/XH_small.png"></th>
                                    <th><img src="/style/images/S_small.png"><img src="/style/images/SH_small.png"></th>
                                    <th><img src="/style/images/A_small.png"></th>
                                </tr>

                                <%- leaderboard %>
                            </tbody>
                        </table>

                        <div class="pagination">Displaying <%= bottomLimit %> to <%= upperLimit %> of many results.<br>
                            <a href="/p/playerranking?page=<%= currentPage - 1 %>">Prev</a> <b><%= currentPage %></b> <a href="/p/playerranking?page=<%= Number(currentPage) + 1 %>">Next</a>
                        </div>
                        
                        <div class="clear"></div>
                    </div>
                </div>

                <%- include('../../partials/global/footer.ejs') %>
            </div>
        </div>
        <script type="text/javascript" src="/style/images/brand"></script>
    </div>
</body>

</html>