<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">
<%- include('../../partials/global/htmlhead.ejs') %>

<html>
<body data-new-gr-c-s-check-loaded="14.988.0" data-gr-ext-installed="">
    <!-- <a name="top"></a> -->
    <div class="bodytopbg">
        <div class="mainbody">
            <div class="mainbody2">
                <div id="coolheader" style="background-image: url(&#39;/style/images/right-j.jpg&#39;);"></div>
                <!-- <a id="top_support" class="top_button" href="https://web.archive.org/web/20120517111606/http://osu.ppy.sh/p/support"> </a>
                <a id="top_follow" class="top_button" href="https://web.archive.org/web/20120517111606/http://osu.ppy.sh/p/twitter"> </a> -->
                
                <%- include('../../partials/global/header.ejs') %>
                
                <div class="content">
                    <%- include('../../partials/global/loginform.ejs') %>

                    <div class="content-with-bg">

                        <script>
                            let userId = 39828;
                            let activeTab = window.location.hash != "" ? window.location.hash.replace("#","").replace("_","") : "general";
                            let activeGameMode = 0;
                            
                            $(document).ready(function(){
                            	setGameMode(activeGameMode, true);
                            			$("#userpage").load("/pages/include/profile-userpage.php?u=39828");
                            	});
                            
                            $(window).load(function() {
                            			$("#userpage").css("max-height", $(".userbox").height() + "px");
                            	});
                            
                            function expandProfile(id, forceExpand)
                            {
                            	activeTab = id;
                            	if (!($("#" + id).hasClass("expanded")) || forceExpand)
                            	{
                            		//$(".expanded").slideUp(200);
                            		//$(".expanded").removeClass("expanded");
                            
                            		$("#" + id).addClass("expanded");
                            		$("#" + id).slideDown(500);
                            
                            		if (forceExpand)
                            			window.location.hash = "#_" + activeTab;
                            		loadInCurrentTab("/pages/include/profile-" + id + ".php?u=" + userId + "&m=" + activeGameMode);
                            	}
                            	else
                            	{
                            		$("#" + id).slideUp(500);
                            		$("#" + id).removeClass("expanded");
                            	}
                            }
                            
                            let activeRequest = null;
                            
                            function loadInCurrentTab(page)
                            {
                               if(activeRequest) {
                                  activeRequest.abort();
                               }
                            
                               activeRequest = $.get(page, null, function(text){
                                     activeRequest = null;
                            
                                     $("#" + activeTab).html(text);
                                     $("#" + activeTab).stop(true,true).fadeTo(50,1,function() {    $("#" + activeTab).css('filter', 'none'); });
                                     $("#" + activeTab).addClass("loaded");
                                  });
                            }
                            
                            function setGameMode(mode, first)
                            {
                            	$(".profileGameModeButton").removeClass("active");
                            	$("#gm-" + mode ).addClass("active");
                            	activeGameMode = mode;
                            
                            	loadInCurrentTab("/pages/include/profile-" + activeTab + ".php?u=" + userId + "&m=" + activeGameMode);
                            }
                        </script>

                        <div class="prof-left paddingboth minimal" id="fixable">
                            <div class="centrep userbox">
                                <div class="row2p h1"><%= player.username %></div>
                                <div class="row2p"><b></b></div>
                                <div class="row1p"><img src="/a/<%= player.userId %>_000.png" alt="User avatar"></div>

                                <div class="row2p"><b>Rank #<%= player.rank %></b></div>

                                <div class="row2p">
                                    <center>
                                        <a href="/forum/ucp.php?i=pm&amp;mode=compose&amp;u=39828"><img src="/style/images/icon_contact_pm.png" alt="Send private message" title="Send private message"></a>
                                    </center>
                                </div>

                            </div>

                            <div>
                                <center>
                                    <a href="http://osu.ppy.sh/p/profile?u=39828&amp;a=add" style="color:green;font-weight:bold;">Become Friends!</a>
                                </center>
                            </div>

                            <table cellpadding="2" cellspacing="1">
                                <tbody>
                                    <tr>
                                        <td align="right"><b>Age:</b></td>
                                        <td>N/A</td>
                                    </tr>
                                    <tr>
                                        <td align="right"><b>Occupation:</b></td>
                                        <td>N/A</td>
                                    </tr>
                                    <tr>
                                        <td align="right"><b>Interests:</b></td>
                                        <td>N/A</td>
                                    </tr>

                                    <tr>
                                        <td colspan="2"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" style="background: #E7E4FC; height: 1px; padding: 0;"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"></td>
                                    </tr>

                                    <tr>
                                        <td align="right"><b>Arrived:</b></td>
                                        <td><%= player.registerTime.toDateString() %></td>
                                    </tr>
                                    <tr>
                                        <td align="right"><b>Last Active:</b></td>
                                        <td><%= player.lastLoginTime.toDateString() %></td>
                                    </tr>
                                    <!-- <tr>
                                        <td align="right"><b>Posts:</b></td>
                                        <td><a href="http://osu.ppy.sh/forum/search.php?author_id=39828&amp;sr=posts">154</a></td>
                                    </tr> -->
                                </tbody>
                            </table>

                        </div>

                        <div class="prof-right">

                            <div class="userpage" id="userpage" style="max-height: 242px;"> <!--
                                <link rel="stylesheet" type="text/css" href="/style/images/banner-styles.css">
                                <link rel="stylesheet" type="text/css" href="/style/images/iconochive.css">
                                <span style="color: #FF0000"><span style="font-weight: bold"><span class="fontsize150">30 apr 2012</span></span>
                                </span><br><img src="/style/images/spZM" alt="Image"><br><br><span style="color: #FF0000"><span style="font-weight: bold"><span class="fontsize150">10 mar 2012</span></span>
                                </span> <br><img src="/style/images/s8Km" alt="Image"> <br><br> <span style="color: #FF0000"><span style="font-weight: bold"><span class="fontsize150">3 dec 2011</span></span>
                                </span> <br><img src="/style/images/s9hE" alt="Image"> <br> <br><img src="/style/images/s9hM" alt="Image"><br><br><img src="/style/images/s9in" alt="Image"><br>by <span style="font-weight: bold">Ibuki Suika</span> <br><br><span style="color: #0000FF"><span class="fontsize150">Łajt Łółv skin 1.1</span></span><br><a href="https://web.archive.org/web/20121228182616mp_/http://puu.sh/vW6h" class="postlink">http://puu.sh/vW6h</a><br><br><br>
                                <a href="https://web.archive.org/web/20121228182616mp_/http://s09.flagcounter.com/more/u1Hd" class="postlink"><img src="/style/images/saved_resource" alt="Image"></a>
                            --> </div>

                            <div class="profileGameModes">
                                <div><a class="profileGameModeButton active" id="gm-0" onclick="setGameMode(0)">osu!</a><!-- <a class="profileGameModeButton" id="gm-1" onclick="setGameMode(1)">Taiko</a><a class="profileGameModeButton" id="gm-2" onclick="setGameMode(2)">CatchTheBeat</a>--> </div> 
                            </div>

                            <table class="beatmapListing" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td style="padding:0px">
                                            <table class="profile-tabs">
                                                <tbody>
                                                    <tr>
                                                        <td onclick="expandProfile(&#39;general&#39;, true)">General</td>
                                                        <td onclick="expandProfile(&#39;leader&#39;, true)">Top Ranks</td>
                                                        <td onclick="expandProfile(&#39;history&#39;, true)">Historical</td>
                                                        <td onclick="expandProfile(&#39;beatmaps&#39;, true)">Beatmaps</td>
                                                        <td onclick="expandProfile(&#39;achievements&#39;, true)">Achievements</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr onclick="expandProfile(&#39;general&#39;)">
                                        <td class="sectionHeading" id="_general">General</td>
                                    </tr>
                                    <tr>
                                        <td class="sectionContents">
                                            <div id="general" class="loaded expanded" style="opacity: 1; filter: none;">

                                                <link rel="stylesheet" type="text/css" href="/style/images/banner-styles.css">
                                                <link rel="stylesheet" type="text/css" href="/style/images/iconochive.css">
                                                <!-- End Wayback Rewrite JS Include -->
                                                <div class="profileStatLine" style="font-size:160%" title="Performance Points are earned by triumphing above others in the rankings. It aims to allow comparison of players based on their relative skill, rather than how much they play."><b>Global <a href="https://web.archive.org/web/20121228182616/http://osu.ppy.sh/wiki/Performance_Points">Performance</a> Rank: #N/A</b><br>
                                                <b>Global Score Rank: #<%= player.rank %></b></div><br>
                                                <div style="margin:5px;text-align:center"><img id="profimage" width="628" height="120" src="/style/images/profile-graphperformance.php"></div>
                                                <div>Your <strong>raw pp</strong> is currently at <strong>N/A</strong>. To find out more about how this is calculated, visit <a href="https://web.archive.org/web/20121228182616/http://osu.ppy.sh/wiki/Performance_Points">the wiki page</a> explaining the formula behind it! Keep in mind this is a <a href="https://web.archive.org/web/20121228182616/http://osu.ppy.sh/forum/t/92185">constantly evolving system</a>, and you should focus on doing the best you can in order to improve it. If you think you should be higher than another player, try beating some of their high performance ranks!</div>
                                                <div class="profileStatHeader">Recent Activity</div>

                                                <!-- <div id="truncated">
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td width="20%">1 hour ago</td>
                                                                <td>
                                                                    <div class="event epic2"><img src="/style/images/S_small.png"> <b><a href="https://web.archive.org/web/20121228182616/http://osu.ppy.sh/u/39828">White Wolf</a></b> achieved <b>rank #25</b> on <a href="https://web.archive.org/web/20121228182616/http://osu.ppy.sh/b/91156">qinche - Meltdown [Dai]</a> (osu!)</div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="20%">1 hour ago</td>
                                                                <td>
                                                                    <div class="event epic4"><img src="/style/images/SH_small.png"> <b><a href="https://web.archive.org/web/20121228182616/http://osu.ppy.sh/u/39828">White Wolf</a></b> achieved <b>rank #8</b> on <a href="https://web.archive.org/web/20121228182616/http://osu.ppy.sh/b/84075">KOTOKO - I can't get over your best smile [MoonCarrot]</a> (osu!)</div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="20%">1 hour ago</td>
                                                                <td>
                                                                    <div class="event epic4"><img src="/style/images/SH_small.png"> <b><a href="https://web.archive.org/web/20121228182616/http://osu.ppy.sh/u/39828">White Wolf</a></b> achieved <b>rank #6</b> on <a href="https://web.archive.org/web/20121228182616/http://osu.ppy.sh/b/78239">Asriel - Kegare Naki Yume [Yume]</a> (osu!)</div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="20%">2 hours ago</td>
                                                                <td>
                                                                    <div class="event epic4"><img src="/style/images/X_small.png"> <b><a href="https://web.archive.org/web/20121228182616/http://osu.ppy.sh/u/39828">White Wolf</a></b> achieved <b>rank #7</b> on <a href="https://web.archive.org/web/20121228182616/http://osu.ppy.sh/b/77769">Faylan - Last vision for last [Impossible]</a> (osu!)</div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <div><a href="http://osu.ppy.sh/u/39828#" onclick="return expandPost()">Show me more...</a></div>
                                                </div> -->
                                                 
                                                <!-- <div id="full" class="hidden">
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td width="20%">1 hour ago</td>
                                                                <td>
                                                                    <div class="event epic2"><img src="/style/images/S_small.png"> <b><a href="https://web.archive.org/web/20121228182616/http://osu.ppy.sh/u/39828">White Wolf</a></b> achieved <b>rank #25</b> on <a href="https://web.archive.org/web/20121228182616/http://osu.ppy.sh/b/91156">qinche - Meltdown [Dai]</a> (osu!)</div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="20%">1 hour ago</td>
                                                                <td>
                                                                    <div class="event epic4"><img src="/style/images/SH_small.png"> <b><a href="https://web.archive.org/web/20121228182616/http://osu.ppy.sh/u/39828">White Wolf</a></b> achieved <b>rank #8</b> on <a href="https://web.archive.org/web/20121228182616/http://osu.ppy.sh/b/84075">KOTOKO - I can't get over your best smile [MoonCarrot]</a> (osu!)</div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="20%">1 hour ago</td>
                                                                <td>
                                                                    <div class="event epic4"><img src="/style/images/SH_small.png"> <b><a href="https://web.archive.org/web/20121228182616/http://osu.ppy.sh/u/39828">White Wolf</a></b> achieved <b>rank #6</b> on <a href="https://web.archive.org/web/20121228182616/http://osu.ppy.sh/b/78239">Asriel - Kegare Naki Yume [Yume]</a> (osu!)</div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="20%">2 hours ago</td>
                                                                <td>
                                                                    <div class="event epic4"><img src="/style/images/X_small.png"> <b><a href="https://web.archive.org/web/20121228182616/http://osu.ppy.sh/u/39828">White Wolf</a></b> achieved <b>rank #7</b> on <a href="https://web.archive.org/web/20121228182616/http://osu.ppy.sh/b/77769">Faylan - Last vision for last [Impossible]</a> (osu!)</div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="20%">2 hours ago</td>
                                                                <td>
                                                                    <div class="event epic8"><img src="/style/images/SH_small.png"> <b><a href="https://web.archive.org/web/20121228182616/http://osu.ppy.sh/u/39828">White Wolf</a></b> achieved <b>rank #1</b> on <a href="https://web.archive.org/web/20121228182616/http://osu.ppy.sh/b/73454">Amane - Clearview -original mix- [Yeahteke]</a> (osu!)</div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="20%">2 hours ago</td>
                                                                <td>
                                                                    <div class="event epic4"><img src="/style/images/S_small.png"> <b><a href="https://web.archive.org/web/20121228182616/http://osu.ppy.sh/u/39828">White Wolf</a></b> achieved <b>rank #6</b> on <a href="https://web.archive.org/web/20121228182616/http://osu.ppy.sh/b/73454">Amane - Clearview -original mix- [Yeahteke]</a> (osu!)</div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="20%">2 hours ago</td>
                                                                <td>
                                                                    <div class="event epic4"><img src="/style/images/SH_small.png"> <b><a href="https://web.archive.org/web/20121228182616/http://osu.ppy.sh/u/39828">White Wolf</a></b> achieved <b>rank #4</b> on <a href="https://web.archive.org/web/20121228182616/http://osu.ppy.sh/b/74684">Demetori - Wind God Girl [Extra]</a> (osu!)</div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="20%">3 hours ago</td>
                                                                <td>
                                                                    <div class="event epic4"><img src="/style/images/A_small.png"> <b><a href="https://web.archive.org/web/20121228182616/http://osu.ppy.sh/u/39828">White Wolf</a></b> achieved <b>rank #5</b> on <a href="https://web.archive.org/web/20121228182616/http://osu.ppy.sh/b/74684">Demetori - Wind God Girl [Extra]</a> (osu!)</div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="20%">3 hours ago</td>
                                                                <td>
                                                                    <div class="event epic2"><img src="/style/images/A_small.png"> <b><a href="https://web.archive.org/web/20121228182616/http://osu.ppy.sh/u/39828">White Wolf</a></b> achieved <b>rank #12</b> on <a href="https://web.archive.org/web/20121228182616/http://osu.ppy.sh/b/71080">Kitsune^2 - He Has No Mittens [BD's Mittens]</a> (osu!)</div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="20%">3 hours ago</td>
                                                                <td>
                                                                    <div class="event epic2"><img src="/style/images/S_small.png"> <b><a href="https://web.archive.org/web/20121228182616/http://osu.ppy.sh/u/39828">White Wolf</a></b> achieved <b>rank #39</b> on <a href="https://web.archive.org/web/20121228182616/http://osu.ppy.sh/b/71087">Kitsune^2 - He Has No Mittens [Hard]</a> (osu!)</div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="20%">3 hours ago</td>
                                                                <td>
                                                                    <div class="event epic1"><img src="/style/images/A_small.png"> <b><a href="https://web.archive.org/web/20121228182616/http://osu.ppy.sh/u/39828">White Wolf</a></b> achieved rank #313 on <a href="https://web.archive.org/web/20121228182616/http://osu.ppy.sh/b/72402">DragonForce - Through The Fire And Flames [Hard]</a> (osu!)</div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="20%">4 hours ago</td>
                                                                <td>
                                                                    <div class="event epic4"><img src="/style/images/S_small.png"> <b><a href="https://web.archive.org/web/20121228182616/http://osu.ppy.sh/u/39828">White Wolf</a></b> achieved <b>rank #2</b> on <a href="https://web.archive.org/web/20121228182616/http://osu.ppy.sh/b/72403">DragonForce - Through The Fire And Flames [Medium]</a> (osu!)</div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="20%">4 hours ago</td>
                                                                <td>
                                                                    <div class="event epic1"><img src="/style/images/A_small.png"> <b><a href="https://web.archive.org/web/20121228182616/http://osu.ppy.sh/u/39828">White Wolf</a></b> achieved rank #242 on <a href="https://web.archive.org/web/20121228182616/http://osu.ppy.sh/b/70258">EastNewSound - I Wish You Would Die [Collab]</a> (osu!)</div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="20%">4 hours ago</td>
                                                                <td>
                                                                    <div class="event epic4"><img src="/style/images/SH_small.png"> <b><a href="https://web.archive.org/web/20121228182616/http://osu.ppy.sh/u/39828">White Wolf</a></b> achieved <b>rank #4</b> on <a href="https://web.archive.org/web/20121228182616/http://osu.ppy.sh/b/68352">Shoji Meguro - Never More [Marathon]</a> (osu!)</div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="20%">4 hours ago</td>
                                                                <td>
                                                                    <div class="event epic2"><img src="/style/images/S_small.png"> <b><a href="https://web.archive.org/web/20121228182616/http://osu.ppy.sh/u/39828">White Wolf</a></b> achieved <b>rank #11</b> on <a href="https://web.archive.org/web/20121228182616/http://osu.ppy.sh/b/72718">Otouto no Ane - Mirishira Romeo &amp; Cinderella [Sayonara Romeo]</a> (osu!)</div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div> -->

                                                <div class="profileStatHeader">Detailed Stats</div>
                                                <font color="#0e3062">
                                                    <div class="profileStatLine" title="Ranked Score is the main metric of osu!, which gives you your rank in the online score charts. It consists of the highest passing score you have achieved in each beatmap set. This means that if you play both Normal and Hard difficulties of the same beatmap set, only your highest scoring difficulty will be included."><b>Ranked Score</b>: <%= player.rankedScore %> (<b>#<%= player.rank %></b>)</div><br></font>
                                                <div class="profileStatLine" title="Accuracy is calculated as an average of every beatmap you have achieved a passing score in, with each difficulty counting separately. Accuracy is calculated based on the hit score value - so a 50 is worth 1/6th of a 300 hit, and a miss is worth nothing."><b>Hit Accuracy</b>: <%= player.accuracy %>%</div><br>
                                                <div class="profileStatLine" title="Total number of ranked beatmap plays. This includes both passes and fails."><b>Play Count</b>: <%= player.playCount %></div><br>
                                                <div class="profileStatLine" title="Total points scored in all ranked beatmap plays. This includes both passes and fails."><b>Total Score</b>: <%= player.totalScore %></div>
                                                <br>
                                                <div class="profileStatLine" title="Your level is based on your total accumulated score. This includes any ranked score, be it a pass or fail. You will gradually increase your level just by playing osu!"><b>Current Level</b>: N/A</div><br>
                                                <center>
                                                    <table width="300px" height="20px" class="levelMetre" border="0" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                            <tr>
                                                                <td class="levelPercent" width="0px" align="right">0%</td>
                                                                <td bgcolor="white">&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </center><br>
                                                <div class="profileStatLine" title="Total notes hit."><b>Total Hits</b>: N/A</div><br>
                                                <div class="profileStatLine" title="Highest combo achieved (hits in a row without a miss)."><b>Maximum Combo</b>: N/A</div><br>
                                                <div class="profileStatLine" title="The total number of times this user&#39;s replays have been watched."><b>Replays Watched by Others</b>: N/A times</div><br>
                                                <div class="profileStatLine"><strong>Ranks</strong></div>
                                                <table align="center" width="60%" cellspacing="0" cellpadding="0" border="0">
                                                    <tbody>
                                                        <tr>
                                                            <td width="42"><img height="42" src="/style/images/X.png"></td>
                                                            <td width="50"><%= player.gradeXCount %></td>
                                                            <td width="42"><img height="42" src="/style/images/S.png"></td>
                                                            <td width="50"><%= player.gradeSCount %></td>
                                                            <td width="42"><img height="42" src="/style/images/A.png"></td>
                                                            <td width="50"><%= player.gradeACount %></td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                                <br>For further information on stats and scoring, see the <a href="https://web.archive.org/web/20121228182616/http://osu.ppy.sh/wiki/FAQ#Scoring" target="_top">wiki</a>.<br>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr onclick="expandProfile(&#39;leader&#39;)">
                                        <td class="sectionHeading" id="_leader">Top Ranks</td>
                                    </tr>
                                    <tr>
                                        <td class="sectionContents">
                                            <div id="leader" class="expanded loaded" style="opacity: 1; filter: none;">
                                                <h2>Best Scores</h2>

                                                <% for (var i = 0; i < scores.length; i++) { thisScore = scores[i] %>
                                                    <div class="prof-beatmap">
                                                        <div class="h">
                                                            <img src="/style/images/<%= thisScore.grade %>_small.png">
                                                            <b><a href="https://osu.ppy.sh/beatmapsets/<%= thisScore.setId %>"><%= thisScore.artist %> - <%= thisScore.title %> [<%= thisScore.diff %>]</a></b>
                                                        </div>
                                                        <div class="c">
                                                            <%= thisScore.fancySubmitTime %> | Score: <%= thisScore.score %>
                                                        </div>
                                                    </div>
                                                <% } %>
                                                
                                                <!--
                                                <h2>Best <a href="https://web.archive.org/web/20121228182616mp_/http://osu.ppy.sh/wiki/Performance_Points">Performance</a></h2>
                                                -->

                                                <!-- 
                                                <div class="prof-beatmap" id="leader-84036">
                                                    <div class="h">
                                                        <img src="/style/images/XH_small.png">
                                                        <b><a href="https://web.archive.org/web/20121228182616mp_/http://osu.ppy.sh/b/84036?m=0">Megpoid GUMI - Aitai [NTR]</a></b>
                                                    </div>
                                                    <div class="c">
                                                        1 month ago
                                                    </div>
                                                </div>
                                                -->

                                                <h2>First Place Ranks</h2>
                                                
                                                <% for (var i = 0; i < firstPlaces.length; i++) { thisScore = firstPlaces[i] %>
                                                    <div class="prof-beatmap">
                                                        <div class="h">
                                                            <img src="/style/images/<%= thisScore.grade %>_small.png">
                                                            <b><a href="https://osu.ppy.sh/beatmapsets/<%= thisScore.setId %>"><%= thisScore.artist %> - <%= thisScore.title %> [<%= thisScore.diff %>]</a></b>
                                                        </div>
                                                        <div class="c">
                                                            <%= thisScore.fancySubmitTime %>
                                                        </div>
                                                    </div>
                                                <% } %>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr onclick="expandProfile(&#39;history&#39;)">
                                        <td class="sectionHeading" id="_history">Historical</td>
                                    </tr>
                                    <tr>
                                        <td class="sectionContents">
                                            <div id="history" class="expanded loaded" style="opacity: 1; filter: none;">

                                                <link rel="stylesheet" type="text/css" href="/style/images/banner-styles.css">
                                                <link rel="stylesheet" type="text/css" href="/style/images/iconochive.css">
                                                <!-- End Wayback Rewrite JS Include -->
                                                <div class="profileStatHeader">Play History</div>
                                                <center><img src="/style/images/profile-graphactivity.php"></center>
                                                <div class="profileStatHeader">Most Played Beatmaps</div>
                                                <div style="font-size:180%">N/A plays - <a target="_top" href="http://osu.ppy.sh/b/0">ARTIST - SONG [DIFF]</a></div>
                                                <div style="font-size:174%">N/A plays - <a target="_top" href="http://osu.ppy.sh/b/0">ARTIST - SONG [DIFF]</a></div>
                                                <div style="font-size:168%">N/A plays - <a target="_top" href="http://osu.ppy.sh/b/0">ARTIST - SONG [DIFF]</a></div>
                                                <div style="font-size:162%">N/A plays - <a target="_top" href="http://osu.ppy.sh/b/0">ARTIST - SONG [DIFF]</a></div>
                                                <div style="font-size:156%">N/A plays - <a target="_top" href="http://osu.ppy.sh/b/0">ARTIST - SONG [DIFF]</a></div>
                                                <div style="font-size:150%">N/A plays - <a target="_top" href="http://osu.ppy.sh/b/0">ARTIST - SONG [DIFF]</a></div>
                                                <div style="font-size:144%">N/A plays - <a target="_top" href="http://osu.ppy.sh/b/0">ARTIST - SONG [DIFF]</a></div>
                                                <div style="font-size:138%">N/A plays - <a target="_top" href="http://osu.ppy.sh/b/0">ARTIST - SONG [DIFF]</a></div>
                                                <div style="font-size:132%">N/A plays - <a target="_top" href="http://osu.ppy.sh/b/0">ARTIST - SONG [DIFF]</a></div>
                                                <div style="font-size:126%">N/A plays - <a target="_top" href="http://osu.ppy.sh/b/0">ARTIST - SONG [DIFF]</a></div>
                                                <div style="font-size:120%">N/A plays - <a target="_top" href="http://osu.ppy.sh/b/0">ARTIST - SONG [DIFF]</a></div>
                                                <div style="font-size:114%">N/A plays - <a target="_top" href="http://osu.ppy.sh/b/0">ARTIST - SONG [DIFF]</a></div>
                                                <div style="font-size:108%">N/A plays - <a target="_top" href="http://osu.ppy.sh/b/0">ARTIST - SONG [DIFF]</a></div>
                                                <div style="font-size:102%">N/A plays - <a target="_top" href="http://osu.ppy.sh/b/0">ARTIST - SONG [DIFF]</a></div>
                                                <div style="font-size:96%">N/A plays - <a target="_top" href="http://osu.ppy.sh/b/0">ARTIST - SONG [DIFF]</a></div>
                                                <div class="profileStatHeader">Replays Watched History</div>
                                                <center><img src="/style/images/profile-graphreplays.php"></center>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr onclick="expandProfile(&#39;beatmaps&#39;)">
                                        <td class="sectionHeading" id="_beatmaps">Beatmaps</td>
                                    </tr>
                                    <tr>
                                        <td class="sectionContents">
                                            <div id="beatmaps" class="expanded loaded" style="opacity: 1; filter: none;">
                                                Click any of the following categories to expand them.
                                                <div class="profileBeatmapHeader" onclick="$(&quot;#beatmapsFavourite&quot;).toggle()">Favourite Beatmaps (0)</div>
                                                <div class="hidden" id="beatmapsFavourite" style="display: none;">
                                                    <!-- <div class="prof-beatmap" id="fav-3678">
                                                        <div class="h">
                                                            <b><a href="https://web.archive.org/web/20121228182616mp_/http://osu.ppy.sh/s/3678">Tenacious D - Tribute</a></b> by <b><a href="https://web.archive.org/web/20121228182616mp_/http://osu.ppy.sh/u/2650">awp</a></b>
                                                        </div>
                                                        <div class="c">
                                                            User Rating 8.80
                                                        </div>
                                                    </div> -->
                                                </div>
                                                <div class="profileBeatmapHeader" onclick="$(&quot;#beatmapsGraveyard&quot;).toggle()">Graveyarded Beatmaps (0)</div>
                                                <div class="hidden" id="beatmapsGraveyard" style="display: block;">
                                                    <!-- <div class="prof-beatmap" id="graveyard-30762">
                                                        <div class="h">
                                                            <b><a href="https://web.archive.org/web/20121228182616mp_/http://osu.ppy.sh/s/30762">UKF Dubstep - August</a></b>
                                                        </div>
                                                        <div class="c">
                                                            Last updated <time class="timeago" datetime="2011-05-24T19:13:16Z">2011-05-24 19:13:16 UTC</time> | Star Priority 4 </div>
                                                    </div> -->
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr onclick="expandProfile(&#39;achievements&#39;)">
                                        <td class="sectionHeading" id="_achievements">Achievements</td>
                                    </tr>
                                    <tr>
                                        <td class="sectionContents">
                                            <div id="achievements" class="expanded loaded" style="opacity: 1; filter: none;">
                                                <!-- <div class="achievements-break">Beatmap Packs</div>
                                                <div class="achievement"><img src="/style/images/gamer1.png"><br>
                                                    <center><b>Video Game Pack vol.1</b></center>
                                                </div>
                                                <div class="achievement"><img src="/style/images/anime1.png"><br>
                                                    <center><b>Anime Pack vol.1</b></center>
                                                </div>
                                                <div class="achievement"><img src="/style/images/lulz1.png"><br>
                                                    <center><b>Internet! Pack vol.1</b></center>
                                                </div>
                                                <div class="achievement"><img src="/style/images/rhythm1.png"><br>
                                                    <center><b>Rhythm Game Pack vol.1</b></center>
                                                </div>
                                                <div class="achievement"><img src="/style/images/gamer2.png"><br>
                                                    <center><b>Video Game Pack vol.2</b></center>
                                                </div>
                                                <div class="achievement"><img src="/style/images/anime2.png"><br>
                                                    <center><b>Anime Pack vol.2</b></center>
                                                </div>
                                                <div class="achievement"><img src="/style/images/lulz2.png"><br>
                                                    <center><b>Internet! Pack vol.2</b></center>
                                                </div>
                                                <div class="achievement"><img src="/style/images/rhythm2.png"><br>
                                                    <center><b>Rhythm Game Pack vol.2</b></center>
                                                </div>
                                                <div class="achievement"><img src="/style/images/gamer3.png"><br>
                                                    <center><b>Video Game Pack vol.3</b></center>
                                                </div>
                                                <div class="achievement"><img src="/style/images/anime3.png"><br>
                                                    <center><b>Anime Pack vol.3</b></center>
                                                </div>
                                                <div class="achievement"><img src="/style/images/lulz3.png"><br>
                                                    <center><b>Internet! Pack vol.3</b></center>
                                                </div>
                                                <div class="achievement"><img src="/style/images/rhythm3.png"><br>
                                                    <center><b>Rhythm Game Pack vol.3</b></center>
                                                </div>
                                                <div class="achievement"><img src="/style/images/gamer4.png"><br>
                                                    <center><b>Video Game Pack vol.4</b></center>
                                                </div>
                                                <div class="achievement"><img src="/style/images/anime4.png"><br>
                                                    <center><b>Anime Pack vol.4</b></center>
                                                </div>
                                                <div class="achievement"><img src="/style/images/lulz4.png"><br>
                                                    <center><b>Internet! Pack vol.4</b></center>
                                                </div>
                                                <div class="achievement"><img src="/style/images/rhythm4.png"><br>
                                                    <center><b>Rhythm Game Pack vol.4</b></center>
                                                </div>
                                                <div class="achievements-break">Combo</div>
                                                <div class="achievement"><img src="/style/images/combo500.png"><br>
                                                    <center><b>500 Combo (any song)</b></center>
                                                </div>
                                                <div class="achievement"><img src="/style/images/combo750.png"><br>
                                                    <center><b>750 Combo (any song)</b></center>
                                                </div>
                                                <div class="achievement"><img src="/style/images/combo1000.png"><br>
                                                    <center><b>1000 Combo (any song)</b></center>
                                                </div>
                                                <div class="achievement"><img src="/style/images/combo2000.png"><br>
                                                    <center><b>2000 Combo (any song)</b></center>
                                                </div>
                                                <div class="achievements-break">Dedication</div>
                                                <div class="achievement"><img src="/style/images/plays1.png"><br>
                                                    <center><b>5,000 Plays (osu! mode)</b></center>
                                                </div>
                                                <div class="achievement"><img src="/style/images/plays2.png"><br>
                                                    <center><b>15,000 Plays (osu! mode)</b></center>
                                                </div>
                                                <div class="achievement"><img src="/style/images/plays3.png"><br>
                                                    <center><b>25,000 Plays (osu! mode)</b></center>
                                                </div>
                                                <div class="achievement"><img src="/style/images/plays4.png"><br>
                                                    <center><b>50,000 Plays (osu! mode)</b></center>
                                                </div>
                                                <div class="achievement"><img src="/style/images/fruitsalad.png"><br>
                                                    <center><b>Catch 20,000 fruits</b></center>
                                                </div>
                                                <div class="achievement"><img src="/style/images/fruitplatter.png"><br>
                                                    <center><b>Catch 200,000 fruits</b></center>
                                                </div>
                                                <div class="achievement"><img src="/style/images/unknown.png"><br>
                                                    <center><b>Catch 2,000,000 fruits</b></center>
                                                </div>
                                                <div class="achievement"><br>
                                                    <center><b></b></center>
                                                </div>
                                                <div class="achievement"><img src="/style/images/taiko1.png"><br>
                                                    <center><b>30,000 Drum Hits</b></center>
                                                </div>
                                                <div class="achievement"><img src="/style/images/taiko2.png"><br>
                                                    <center><b>300,000 Drum Hits</b></center>
                                                </div>
                                                <div class="achievement"><img src="/style/images/unknown.png"><br>
                                                    <center><b>3,000,000 Drum Hits</b></center>
                                                </div>
                                                <div class="achievement"><br>
                                                    <center><b></b></center>
                                                </div>
                                                <div class="achievement"><img src="/style/images/unknown.png"><br>
                                                    <center><b>40,000 Keys</b></center>
                                                </div>
                                                <div class="achievement"><img src="/style/images/unknown.png"><br>
                                                    <center><b>400,000 Keys</b></center>
                                                </div>
                                                <div class="achievement"><img src="/style/images/unknown.png"><br>
                                                    <center><b>4,000,000 Keys</b></center>
                                                </div>
                                                <div class="achievement"><br>
                                                    <center><b></b></center>
                                                </div>
                                                <div class="achievements-break">Hush-Hush</div>
                                                <div class="achievement"><img src="/style/images/bunny.png"><br>
                                                    <center><b>Don't let the bunny distract you!</b></center>
                                                </div>
                                                <div class="achievement"><img src="/style/images/s-ranker.png"><br>
                                                    <center><b>S-Ranker</b></center>
                                                </div>
                                                <div class="achievement"><img src="/style/images/improved.png"><br>
                                                    <center><b>Most Improved</b></center>
                                                </div>
                                                <div class="achievement"><img src="/style/images/dancer.png"><br>
                                                    <center><b>Non-stop Dancer</b></center>
                                                </div>
                                                <div class="achievement"><img src="/style/images/consolationprize.png"><br>
                                                    <center><b>Consolation Prize</b></center>
                                                </div>
                                                <div class="achievement"><img src="/style/images/challengeaccepted.png"><br>
                                                    <center><b>Challenge Accepted</b></center>
                                                </div>
                                                <div class="achievement"><img src="/style/images/unknown.png"><br>
                                                    <center><b>Stumbler</b></center>
                                                </div>
                                                <div class="achievement"><img src="/style/images/unknown.png"><br>
                                                    <center><b>Jackpot</b></center>
                                                </div>
                                                <div class="achievement"><img src="/style/images/unknown.png"><br>
                                                    <center><b>Quick Draw</b></center>
                                                </div>
                                                <div class="achievement"><img src="/style/images/obsessed.png"><br>
                                                    <center><b>Obsessed</b></center>
                                                </div>
                                                <div class="achievement"><img src="/style/images/nonstop.png"><br>
                                                    <center><b>Nonstop</b></center>
                                                </div>
                                                <div class="achievement"><img src="/style/images/unknown.png"><br>
                                                    <center><b>Jack of All Trades</b></center>
                                                </div> -->
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="sectionHeading" style="background:#2f2f65;cursor:auto;">Account Standing</td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <!-- <div style="text-align: center; color: red; padding: 5px;">
                                                White Wolf's account is not in good standing :(.<br>Their account <strong>could be</strong> permanently banned with 9 more infringements.<br>
                                            </div> -->
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="profileStatHeader">Recent Infringements</div>
                                            <!-- <table class="nice" style="width:100%">
                                                <tbody>
                                                    <tr>
                                                        <th>Date</th>
                                                        <th>Action</th>
                                                        <th>Length</th>
                                                        <th>Description</th>
                                                    </tr>
                                                    <tr>
                                                        <td>2012-04-28 03:12:29</td>
                                                        <td style="background:orange;color:white;">
                                                            <center>SILENCE</center>
                                                        </td>
                                                        <td>
                                                            5 minute(s) </td>

                                                        <td>inappropriate language</td>
                                                    </tr>

                                                </tbody>
                                            </table> -->
                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>

                        <div class="clear"></div>
                    </div>
                </div>

                <%- include('../../partials/global/footer.ejs') %>
            </div>
        </div>
        <script type="text/javascript" src="/style/images/brand"></script>
    </div>
    
</body>

</html>