<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/style/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/style/starter-template.css" rel="stylesheet">

    <title><%= player.username%></title>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header"> <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <a class="navbar-brand" href="#">osu!2012</a></div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li> <a href="/register">Register</a></li>
                    <li> <a href="/ranking">Rankings</a></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">        
        <a style="white-space: pre-wrap" href="<%=player.username%>"> <%=player.username%> </a> (#<%=player.rank%>) 
        <br>Ranked Score: <%=player.rankedScore%> | Total Score: <%=player.totalScore%> 
        <br>Accuracy: <%=player.accuracy%>% 
        <br>Playcount: <%=player.playcount%>

        <div class="starter-template">
            <p class="lead">Top scores</p>
            <% for (var i = 0; i < scores.length; i++) { %>
                <p style="white-space: pre-wrap">Score: <%=scores[i].score%> | | <a href="https://osu.ppy.sh/beatmapsets/<%=scores[i].setId%>"><%=scores[i].artist%> - <%=scores[i].title%> [<%=scores[i].diff%>]</a><br></p>
            <%}%>
        </div>
    </div>
<script src="/style/assets/js/jquery.min.js"></script>
<script src="/style/bootstrap/js/bootstrap.min.js"></script>
<script src="/style/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>